# Preprocessing of Raw Twitter Dataset

In [17]:
# importing libraries
import pandas as pd

In [18]:
import numpy as np

In [19]:
# Read Twitter dataset from .csv file and store into a DataFrame object
df = pd.read_csv('../datasets/training.1600000.processed.noemoticon.csv', names=['sentiment', 'id', 'date', 'query', 'user_name', 'text'], encoding='ISO-8859-1')

In [20]:
# Read the first 5 entries in the dataset using dataframe.head(n) method
df.head(5)

,sentiment,id,date,query,user_name,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [21]:
# Read the last 5 entries  in the dataset using dataframe.tail(n) method
df.tail(5)

,sentiment,id,date,query,user_name,text
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [22]:
# Drop all rows with null values
df.dropna(inplace=True)

In [23]:
# Create new column "rating"
# assign all positive tweets with 1
# assign all negative tweets with 0
df['rating'] = np.where(df['sentiment'] > 0, 1, 0)

In [24]:
# Check the dataset for last change
df.head()

,sentiment,id,date,query,user_name,text,rating
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,0
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,0
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,0
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",0

In [25]:
# We drop the following columns: sentiment, id, date, query, user_name
df_dataset = df.drop(['sentiment', 'id', 'date', 'query', 'user_name'], axis=1)

In [26]:
# Check the dataset for last change
df_dataset.head()

                                                text  rating
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...       0
1  is upset that he can't update his Facebook by ...       0
2  @Kenichan I dived many times for the ball. Man...       0
3    my whole body feels itchy and like its on fire        0
4  @nationwideclass no, it's not behaving at all....       0

In [27]:
# We keep original tweet format for experimental purpose
import codecs

In [28]:
import csv

In [29]:
df_dataset.to_csv('../datasets/raw_data/raw_sentiment_140.csv', index=False)

In [30]:
fastText_file = open('../datasets/raw_data/raw_fastText.txt', 'w')

In [31]:
csv_file_path = '../datasets/raw_data/raw_sentiment_140.csv'

In [32]:
with codecs.open(csv_file_path, 'r', encoding='ascii', errors='ignore') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    prefix = '__label__'
    #read line by line from csv file and parse data to fasttext format
    for row in csv_reader:
        fastText_file.write(prefix + row[1] + ' ' + row[0] + '\n')
    print("Successfully parsed to fastText format!")

Successfully parsed to fastText format!